$color: white;
:root{
	--color1: orange;
}
body{
	font-size: 16px;
	font-family: sans-serif;
}
h1{
	text-align: center;
}
ul{
    list-style: none;
    display: flex;
    border: 1px solid red
}
li{
    color: orange;
    padding: 1rem;
    transition: background .7s ease-in-out;
    flex-grow: 1;

    &:hover{
        color: white;
        background-color: gray;
    }
}
li:nth-child(3){
    color: skyblue;
}